html,body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.badge-container {
	background-color: #FF4676;
	height: 100%;
}

@media screen and (min-width: 600px) {
	.badge-container {
		height: 335px;
	}
}

.badge-container img {
	width: 250px;
	height: 250px;
	display: block;
	margin: auto;
	padding: 25px 0 0 0;
}

.badge-container .soon-message h1 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin: 0px;                                                        
    padding: 20px;
}

@media screen and (min-width: 600px) {
	.badge-container .soon-message
	{
		width: 450px;
		margin: auto;
		background-color: #FF4676;
	}
}
